<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="tp3review-rating">
</div>
<div class="tp3review-text">
    <label for="review">
        <f:translate key="LLL:EXT:tp3ratings/Resources/Private/Language/locallang_db.xlf:tx_tp3ratings_data.review" />
    </label><br />
    <f:form.textarea name="tp3reviewdata[review]" class="tx_tp3ratings_data-textarea" additionalAttributes="{required: 'required'}" value="{iplog.review}" cols="40" rows="15" /><br />
</div>
<div class="tp3review-mail">
    <label class="email">
        <f:translate key="LLL:EXT:tp3ratings/Resources/Private/Language/locallang_db.xlf:tx_tp3ratings_data.email" />
    </label><br>
    <f:form.textfield required="TRUE"  additionalAttributes="{pattern:'[^ @]*@[^ @]*'}" type="email" name="tp3reviewdata[emailadresse]"  value="{iplog.userid}"  errorClass="'f3-form-error'" class="formvalue" id="tx_tp3ratings_data.emailadresse" >
    </f:form.textfield>	<br>
    <span class="emailtxt"><f:translate key="LLL:EXT:tp3ratings/Resources/Private/Language/locallang_db.xlf:tx_tp3ratings_data.emailtxt"  /></span>
    <f:form.hidden  name="tp3reviewdata[check]" value="{ratingsdata.check}"  id="check" />
    <f:form.hidden  name="eID" value="review"  />
</div>
